$publicColor: #1890ff; // 主題顏色


/*
  颜色
*/
$blackColor: #555;
$errorColor: #B30F0F;
$dangerColor: #F56C6C;
$warningColor: #E6A23C;
$successColor: #67C23A;
$infoColor: #909399;
$infoBorderColor: #dcdfe6;
$listTitleColor: #99a9bf;

/*
  头部高度
*/
$headerHeight : 80px;

$menusWidth: 250px; // 菜單寬度
$contentPadding: 10px; // 內容內邊距
$gapSize: 8px; // 空隙尺寸

/*
  导航展开宽度
*/
$uncollapseWidth : 240px;

/*
  商户导航展开宽度
*/
$merchantUncollapseWidth : 190px;

/*
  内容内边距
*/
$mainPadding : 10px;

/*
  内容区域背景颜色
*/
$mainBgColor: #eaeaea;